body{
    text-align: center;
}

#search-section{

    text-align: center;
    margin-top: 200px;
}
.margine{
     border: 3px solid red;
}
.logo-first{
    color: blue;
}
.lense{
    position: relative;
    left: 45px;
}
.search-box{
   padding: 15px 15px 15px 45px;
    border-radius:30px ;
    width: 40%;
}
#suggesion-box{
     border: 1px solid black;
     width: 45%;
     margin-left: 29%;

}
